<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <style>
      .message {
        color: #0277bd;
      }
      .material-icons[title="info"] {
        color: #64b5f6;
      }
      .material-icons[title="warning"] {
        color: #ffb300;
      }
      .material-icons[title="error"] {
        color: #ef5350;
      }
    </style>

    <title>Log Report</title>
  </head>
  <body>
    <nav class="grey darken-3">
      <div class="container">
        <a href="#" class="brand-logo">Log Report</a>
      </div>
    </nav>
    <div class="section">
      <div class="container">
        <table class="responsive-table">
          <thead>
            <tr>
              <th>Level</th>
              <th>Date</th>
              <th>Time</th>
              <th>User</th>
              <th>Function</th>
              <th>Message</th>
            </tr>
          </thead>
          <!-- Code is injected after tbody -->
          <tbody>
            <!-- Sample of what will be injected -->
            <!-- 
              <tr>
                <td><i class="material-icons" title="info">info</i></td>
                <td>10/28/2019</td>
                <td>9:03:31 AM</td>
                <td>rtoda02</td>
                <td>Console.log</td>
                <td class="message">This is just a test message to see what it would look like.</td>
             </tr>
          --></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
